<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= data.name %></title>
    </head>
    <body>
        <h2><%= data.name %>の編集</h2>
        <form action="/stella/update/<%= data.id %>" method="POST">
            <table>
                <tr>
                    <th>項目</th>
                    <th>データ</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><%= data.id %></td>
                </tr>
                <tr>
                    <td>星座名</td>
                    <td>
                        <input
                            type="text"
                            name="name"
                            value="<%= data.name %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>英語表記</td>
                    <td>
                        <input type="text" name="en" value="<%= data.en %>" />
                    </td>
                </tr>
                <tr>
                    <td>星座の形</td>
                    <td>
                        <input
                            type="text"
                            name="shape"
                            value="<%= data.shape %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>高度(°)</td>
                    <td>
                        <input
                            type="text"
                            name="height"
                            value="<%= data.height %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>星座を代表する星</td>
                    <td>
                        <input
                            type="text"
                            name="star"
                            value="<%= data.star %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>季節</td>
                    <td>
                        <input
                            type="text"
                            name="season"
                            value="<%= data.season %>"
                        />
                    </td>
                </tr>
            </table>
            <input type="submit" value="更新" />
        </form>
        <a href="/stella/<%= data.id %>">詳細に戻る</a><br />
        <a href="/stella/">一覧に戻る</a>
    </body>
</html>
