<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= data.name %></title>
        <link rel="stylesheet" href="../../public/style.css">
    </head>
    <body>
        <h2><%= data.name %>の詳細</h2>
        <table class="table-detail">
            <tr>
                <th>項目</th>
                <th>データ</th>
            </tr>
            <tr>
                <td>ID</td>
                <td><%= data.id %></td>
            </tr>
            <tr>
                <td>都道府県名</td>
                <td><%= data.name %></td>
            </tr>
            <tr>
                <td>都道府県番号</td>
                <td><%= data.code %></td>
            </tr>
            <tr>
                <td>面積</td>
                <td><%= data.area %>km^2</td>
            </tr>
            <tr>
                <td>人口</td>
                <td><%= data.population %>人</td>
            </tr>
            <tr>
                <td>県庁所在地</td>
                <td><%= data.capital %></td>
            </tr>
            <tr>
                <td>地方</td>
                <td><%= data.region %></td>
            </tr>
        </table>

        <div>
            <a href="/pref/edit/<%= id %>">編集</a>
            <a href="/pref/check/<%= id %>" style="margin-left: 30px;">削除</a>
            <a href="/pref" style="margin-left: 30px;">一覧に戻る</a>
        </div>

    </body>
</html>
