<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= data.name %></title>
    </head>
    <body>
        <h2><%= data.name %>の編集</h2>
        <form action="/pref/update/<%= data.id %>" method="POST">
            <table>
                <tr>
                    <th>項目</th>
                    <th>データ</th>
                </tr>
                <tr>
                    <td>ID</td>
                    <td><%= data.id %></td>
                </tr>
                <tr>
                    <td>都道府県名</td>
                    <td>
                        <input
                            type="text"
                            name="name"
                            value="<%= data.name %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>都道府県番号</td>
                    <td>
                        <input
                            type="text"
                            name="code"
                            value="<%= data.code %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>面積</td>
                    <td>
                        <input
                            type="text"
                            name="area"
                            value="<%= data.area %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>人口</td>
                    <td>
                        <input
                            type="text"
                            name="population"
                            value="<%= data.population %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>県庁所在地</td>
                    <td>
                        <input
                            type="text"
                            name="capital"
                            value="<%= data.capital %>"
                        />
                    </td>
                </tr>
                <tr>
                    <td>地方</td>
                    <td>
                        <input
                            type="text"
                            name="region"
                            value="<%= data.region %>"
                        />
                    </td>
                </tr>
            </table>
            <input type="submit" values="更新" />
        </form>
        <a href="/pref/<%= data.id %>">詳細に戻る</a><br>
        <a href="/pref/">一覧に戻る</a>
    </body>
</html>
