<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= data.name %></title>
    <link rel="stylesheet" href="../../public/style.css">
    <title>元素削除</title>
</head>
<body>
    <h2>以下の元素を削除します。よろしいですか？</h2>
    <table class="table-detail">
            <tr>
                <th>項目</th>
                <th>データ</th>
            </tr>
            <tr>
                <td>ID</td>
                <td><%= data.id %></td>
            </tr>
            <tr>
                <td>元素名</td>
                <td><%= data.name %></td>
            </tr>
            <tr>
                <td>原子番号</td>
                <td><%= data.code %></td>
            </tr>
            <tr>
                <td>元素記号</td>
                <td><%= data.symbol %></td>
            </tr>
            <tr>
                <td>原子質量数</td>
                <td><%= data.mass %></td>
            </tr>
            <tr>
                <td>元素の性質</td>
                <td><%= data.property %></td>
            </tr>
            <tr>
                <td>元素の族</td>
                <td><%= data.group %></td>
            </tr>
        </table>
    <form action="/element/delete/<%= data.id %>">
        <input type="submit" value="削除">
    </form>
    <div style="margin-top: 20px;">
        <a href="/element/<%= data.id %>">詳細に戻る</a>
        <a href="/element" style="margin-left: 30px;">一覧に戻る</a>
    </div>
</body>
</html>
